body {
   margin: 5;
   padding: 1;
   overflow: hidden;
   background-color: whitesmoke;
}

a-scene {
   height: 500px; /* o cualquier altura adecuada */
   width: 100%;
}

.enter-button {
   position: absolute;
   left: 50%;
   bottom: 20px; /* Ajusta la distancia desde el fondo */
   transform: translateX(-50%);
   padding: 10px 20px;
   font-size: 24px;
   cursor: pointer;
}